{% extends "base_email.jinja" %}
{% block content %}
    <p class="main-text">
        We received a request to reset the password for your <strong>AInterviewer</strong> account.
    </p>
    <p class="main-text">Click the button below to choose a new password:</p>
    <a href="{{ reset_link }}" class="cta-button">Reset Password</a>
    <p class="main-text">
        This link will expire in {{ expires_in|default("1 hour") }} and can only be used once. If the button above doesn't work, copy and paste this URL into your browser:
    </p>
    <p class="main-text" style="word-break: break-all; color: #196858;">{{ reset_link }}</p>
    <p class="main-text">
        If you didn't request a password reset, you can safely ignore this email. Your password will not change.
    </p>
{% endblock %}
