{% extends "base_email.jinja" %}
{% block content %}
    <p class="main-text">
        Use the verification code below to finish signing in to <strong>AInterviewer</strong>:
    </p>
    <div style="background-color: #f8f9fa;
                border-radius: 6px;
                margin: 25px 0;
                padding: 25px;
                text-align: center;
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 10px;
                color: #196858;
                font-family: 'Courier New', Courier, monospace;">
        {{ verification_code }}
    </div>
    <p class="main-text">
        This code will expire in {{ expires_in|default("10 minutes") }}. Enter it in the app to complete your sign-in.
    </p>
    <p class="main-text">
        If you didn't try to sign in, you can safely ignore this email. We recommend changing your password if you suspect someone else has access to your account.
    </p>
{% endblock %}
